<html>
    <body>
        FIRMA
        <hr>
        <form action="/api/signature" method="get">
            <table cellspacing="10">
                <tr>
                    <td>USUARIO</td>
                    <td><input type="text" name="acct_uid"></td>
                </tr>
                <tr>
                    <td>NOMBRE COMPLETO</td>
                    <td><input type="text" name="acct_cn"></td>
                </tr>
                <tr>
                    <td>SECTOR/CARGO</td>
                    <td><input type="text" name="acct_ou"></td>
                </tr>
                <tr>
                    <td>INTERNO</td>
                    <td><input type="text" name="acct_phone"></td>
                </tr>
                <tr>
                    <td>CELULAR</td>
                    <td><input type="text" name="acct_mobile"></td>
                </tr>
            </table>
            <input type="submit" value="GENERAR FIRMA">
        </form>
    </body>
</html>